In [1]:
import pandas as pd

In [2]:
uselog = pd.read_csv('use_log.csv')

In [3]:
uselog.shape

(197428, 3)

In [4]:
uselog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   log_id       197428 non-null  object
 1   customer_id  197428 non-null  object
 2   usedate      197428 non-null  object
dtypes: object(3)
memory usage: 4.5+ MB

In [5]:
uselog.head(2)

            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01

In [6]:
customer = pd.read_csv('customer_join.csv')

In [7]:
customer.shape

(4192, 18)

In [8]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4192 entries, 0 to 4191
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        4192 non-null   object
 1   name               4192 non-null   object
 2   class              4192 non-null   object
 3   gender             4192 non-null   object
 4   start_date         4192 non-null   object
 5   end_date           1350 non-null   object
 6   campaign_id        4192 non-null   object
 7   is_deleted         4192 non-null   int64
 8   class_name         4192 non-null   object
 9   price              4192 non-null   int64
 10  campaign_name      4192 non-null   object
 11  mean               4192 non-null   float64
 12  median             4192 non-null   float64
 13  max                4192 non-null   int64
 14  min                4192 non-null   int64
 15  routine_flg        4192 non-null   int64
 16  calc_date          4192 non-null   object
 17  membership_period  4192 non-null   int64
dtypes: float64(2), int64(6), object(10)
memory usage: 589.6+ KB

In [9]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [10]:
sc = StandardScaler()

In [17]:
customer_clustering = customer[['mean','median','max','min','membership_period']]

In [18]:
customer_clustering_sc = sc.fit_transform(customer_clustering)

In [19]:
kmeans = KMeans(n_clusters=4,random_state=0)

In [20]:
clusters=kmeans.fit(customer_clustering_sc)

In [22]:
customer_clustering['cluster']= clusters.labels_

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
customer_clustering.head()

       mean  median  max  min  membership_period  cluster
0  4.833333     5.0    8    2                 47        3
1  5.083333     5.0    7    3                 47        3
2  4.583333     5.0    6    3                 47        3
3  4.833333     4.5    7    2                 47        3
4  3.916667     4.0    6    1                 47        3

In [24]:
customer_clustering['cluster'].unique()

array([3, 1, 0, 2])