In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame as df
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
eq_df = pd.read_csv('kor_earthquake_new.csv')

In [4]:
del eq_df['No']
del eq_df['Pos']
del eq_df['Date']

In [5]:
eq_df

      Magnitude  Latitude  Longitude
0           4.5     39.10     124.20
1           5.2     36.60     127.90
2           5.0     36.60     126.70
3           4.6     38.40     125.60
4           2.8     37.40     128.70
...         ...       ...        ...
2424        1.4     36.54     129.63
2425        1.5     36.54     129.63
2426        1.3     36.53     129.65
2427        1.2     36.53     129.63
2428        0.9     36.46     126.73

[2429 rows x 3 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
y_target = eq_df['Magnitude']
X_features = eq_df.drop(['Magnitude'], axis=1, inplace=False)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_features, y_target, test_size = 0.2, random_state = 0)

In [10]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [11]:
y_preds = lr.predict(X_test)

In [12]:
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

In [13]:
print('MSE : {0:.3f}, RMSE : {1:.3F}'.format(mse, rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test, y_preds)))

MSE : 0.552, RMSE : 0.743
Variance score : 0.002

In [14]:
print('절편 값 : ', lr.intercept_)
print('회귀 계수값 : ', np.round(lr.coef_,1))

절편 값 :  10.366163071919381
회귀 계수값 :  [ 0.  -0.1]

In [17]:
coeff = pd.Series(data=np.round(lr.coef_,1), index=X_features.columns)
coeff.sort_values(ascending=False)

Latitude     0.0
Longitude   -0.1
dtype: float64

In [18]:
from sklearn.model_selection import cross_val_score

neg_mse_scores = cross_val_score(lr, X_features, y_target, scoring='neg_mean_squared_error', cv=5)
rmse_scores = np.sqrt(-1 * neg_mse_scores)
avg_rmse = np.mean(rmse_scores)

print('5 folds 의 개별 Negative MSE scores : ', np.round(neg_mse_scores, 2))
print('5 folds 의 개별 RMSE scores : ', np.round(rmse_scores, 2))
print('5 folds 의 평균 RMSE : {0:.3f}'.format(avg_rmse))

5 folds 의 개별 Negative MSE scores :  [-0.93 -0.39 -0.33 -0.43 -1.73]
5 folds 의 개별 RMSE scores :  [0.97 0.62 0.58 0.65 1.32]
5 folds 의 평균 RMSE : 0.827